@model PagedList.IPagedList<Micropost.Models.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "All Users";
}

<h1>All users</h1>

<ul class="users">


    @Html.PagedListPager(Model,
                        page => Url.Action("Index", new
                        {
                            page,
                            sortOrder = ViewBag.CurrentSort,
                            currentFilter = ViewBag.CurrentFilter
                        }))

    @foreach (var item in Model)
    {
        @Html.Partial("_User", item)
    }
   
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</ul>


