@model Micropost.Models.ApplicationUser

@{
    ViewBag.Title = Model.FullName;
}
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">            
            <h1>
                @GravatarHelper.Gravatar(Model.Email.ToLower(),Model.FullName)
                @Model.FullName
            </h1>
        </section>
    </aside>
</div>

