@model Micropost.Models.User

@{
    ViewBag.Title = Model.Name;
}
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">            
            <h1>
                @GravatarHelper.Gravatar(Model.Email.ToLower(),Model.Name)
                @Model.Name
            </h1>
        </section>
    </aside>
</div>

