@using System.Data.Entity.Design.PluralizationServices
@{
    var errors = ViewData.ModelState.Values.SelectMany(x => x.Errors);
    var plService = PluralizationService.CreateService(new System.Globalization.CultureInfo("en-US"));
    var modelErrors = errors as ModelError[] ?? errors.ToArray();
}

@if (modelErrors.Any())
{
    <div id="error_explanation" class="validation-summary-valid">
        <div class="alert alert-danger">
            The form contains @modelErrors.Count() @(modelErrors.Count() > 1 ?
                                                         plService.Pluralize("error") :
                                                         "error").
        </div>
        @Html.ValidationSummary(false)
    </div>
}
