@using Humanizer
@{
    var errors = ViewData.ModelState.Values.SelectMany(x => x.Errors);
    var modelErrors = errors as ModelError[] ?? errors.ToArray();
}

@if (modelErrors.Any())
{
    <div id="error_explanation" class="validation-summary-valid">
        <div class="alert alert-danger">
            The form contains @{"error".ToQuantity(@modelErrors.Count());}.
        </div>
        @Html.ValidationSummary(false)
    </div>
}
