@model Micropost.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_Mailer.html.cshtml";
}

<h1>Password reset</h1>

<p>To reset your password click the link below:</p>

@Html.RouteLink("Reset Password", "PasswordResetsReturnForm", Request.Url.Scheme, null, null, new { code = ViewBag.code, id = Model.Id }, null)

<p>This link will expire in two hours.</p>

<p>
    If you did not request your password to be reset, please ignore this email and
    your password will stay as it is.
</p>