<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
        This is the home page for the
        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
    </h2>

    @Html.RouteLink("Sign up now!", "SignUpForm", new { }, new { @class = "btn btn-lg btn-primary" })
</div>

<a href="http://rubyonrails.org">
    <img src='@Url.Content("~/Content/images/rails.png")' alt="Rails logo" />
</a>